@import '../../styles/variables';

.dashboard {
  padding: 4rem 2rem;

  h1 {
    font-size: 2rem;
    color: $color-steel;
    margin-bottom: 1rem;
    font-family: $font-header;
  }

  p {
    font-size: 1.1rem;
    color: $color-graphite;
  }
}

.message {
  text-align: center;
  padding: 2rem;
  color: $color-graphite;
  font-style: italic;
}
