// COLORS
$color-steel: #2C3E50;
$color-graphite: #34495E;
$color-yellow: #F1C40F;
$color-white: #ffffff;
$color-bg: #F9FAFB;
$color-black: #111111;

// FONTS
$font-header: 'Montserrat', sans-serif;
$font-body: 'Exo 2', sans-serif;
